@{
    ViewData["Title"] = "Random Password Generator";
}

<div class="text-center">
    <h1 class="display-4">Welcome To your Random Password Generator App</h1>
    <div>
        <h3>Select the one of these options:</h3>
        <div class="optionList">
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            <div class="optionItem"><a href="~/RandomPasswordGenerator/Index">Generate a Password</a></div>
        </div>
    </div>
</div>

